.main {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.image {
  margin-left: 100px;
}

.text {
  width: 60%;
  margin-left: 100px;
}

.h1 {
  font-size: 65px;
  font-weight: 700;
}

.hidden {
  display: none;
}

.yearsText {
  font-size: 11px;
}

.barStyle {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.ballStyle {
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  top: -13px;
}
